.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.graph-container {
  background: #fff;
  width: 1168px;
  height: 439px;
  margin: 10% auto;
  border-radius: 7px;
  box-shadow: 1px 10px 10px #bcbcbc63;
}

/* CHART STYLES */

.sentiment-x-axis > path,
.sentiment-y-axis > path {
  display: none;
}

.sentiment-y-axis > g > text,
.sentiment-x-axis > g > text {
  font-size: 14px;
  fill-opacity: 0.55;
}

.sentiment-x-axis > g > line {
  display: none;
}

.sentiment-y-axis > g > line {
  stroke-opacity: 0.07;
  stroke-dasharray: 5 5;
}
